:root{
    --top : 0;
    --height : 40vh;
}

.disabled {
    transform: translate3d(0px, 0, 0) !important;
}

.upani{
    animation-name : moveup ;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-direction: normal ;
    cursor:default;
}
@keyframes moveup {
    from {
        background-color: transparent;
        width: 50vw;
        transform: translateX(0);
    }
    to {
        transform: translateX(-25vw);
        background-color: #141A1C;
        height: var(--height);
        width: 100vw;
    }
}

.upani > .upwrap > img {
    padding: 4px;
    border: 2px solid rgb(61, 62, 63);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgb(34, 39, 41);
    animation: rotate 0.5s forwards;
}
.upani .slide-title {
    color: white;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}
.downani {
    animation-name: movedown;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes movedown {
    from {
        background-color: #141A1C;
        width: 100vw;
        height: 100vh;
        transform: translateX(-25vw);
    }
    to {
        background-color: transparent;
        height: 40vh;
        width: 50vw;
        transform: translateX(0);
        overflow: hidden;
    }
}

.downani > .upwrap > img {
    animation: revRotate 0.5s forwards;
}
@keyframes revRotate {
    from {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(0);
    }
}
.outani {
    animation: moveout 0.5s forwards;
}
@keyframes moveout {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-25vw);
        
    }
}

.inani {
    animation: movein 0.5s forwards;

}
@keyframes movein {
    from{
        transform: translateX(-25vw);
    }
    to {
        transform: translateX(0);
    }
}

.arttagani {
    display: block;
    animation: arttag 1s forwards;
    
}

@keyframes arttag {
    from {
        font-size: 0;
        display: none;
    }
    to {
        font-size: 34px;
        display: block;
    }
}

.showgrid {
    animation: showgrid 0.5s forwards;
    opacity: 1;
}

@keyframes showgrid {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(var(--top ));
    }
}

.showgrid > a >img {
    animation: rotgridarrow 0.5s forwards;
    z-index: 5;
}
@keyframes rotgridarrow {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}
.hidegrid {
    animation: hidegrid 0.5s forwards;
}

@keyframes hidegrid {
    from {
        transform: translateY(var(--top));
    }
    to {
        transform: translateY(0);
    }
}

.hidegrid > a >img {
    animation: revrotgridarrow 0.5s forwards;
}
@keyframes revrotgridarrow {
    from {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.resize {
    z-index: 10;
    resize: horizontal;
}