:root{
    --top : 0;
    --height : 40vh;
}

.disabled {
    transform: translate3d(0px, 0, 0) !important;
}

.upani{
    animation-name : moveup ;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-direction: normal ;
    cursor:default;
}
@keyframes moveup {
    from {
        background-color: transparent;
        width: 50vw;
        transform: translateX(0);
    }
    to {
        transform: translateX(-25vw);
        transition: smooth;
        background-color: #141A1C;
        height: var(--height);
        width: 100vw;
    }
}

.upani > .upwrap > img {
    padding: 4px;
    border: 2px solid rgb(61, 62, 63);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgb(34, 39, 41);
    animation: rotate 0.5s forwards;
}
.upani .slide-title {
    color: white;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}
.downani {
    animation-name: movedown;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes movedown {
    from {
        background-color: #141A1C;
        width: 100vw;
        height: 100vh;
        transform: translateX(-25vw);
    }
    to {
        background-color: transparent;
        height: 40vh;
        width: 50vw;
        transform: translateX(0);
        overflow: hidden;
    }
}

.downani > .upwrap > img {
    animation: revRotate 0.5s forwards;
}
@keyframes revRotate {
    from {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(0);
    }
}
.outani {
    animation: moveout 0.5s forwards;
}
@keyframes moveout {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-25vw);
        
    }
}

.inani {
    animation: movein 0.5s forwards;

}
@keyframes movein {
    from{
        transform: translateX(-25vw);
    }
    to {
        transform: translateX(0);
    }
}


.swiper-slide-duplicate-active  .arttagani {
    display: block;
    animation: tagani 1s forwards;
}
@keyframes tagani {
    from {
        font-size: 0;
    }
    to {
        font-size: 32px;
    }
}
.resize {
    z-index: 10;
    resize: horizontal;
}


.center {
    margin: 0 auto;
}

