:root {
    --lvl:100%;
    --rot:450deg;
    --per:0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid {
    width: 50vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(37, 36, 36);
}
.row {
    text-align: center;
    align-items: center;
    background-color: rgb(59, 57, 57);
    margin: 15%;
}
.circle {
    border-radius: 50%;
    height: 200px;
    width: 300px;
    margin: 20px 20px ;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.c {
    background: linear-gradient(90deg, rgba(134,128,248,1) 0%, rgba(136,136,186,1) 30%, rgba(0,212,255,1) 100%);
    --lvl:-60%;
}
.cpp {
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    --lvl:-50%;
}
.html {
    background: linear-gradient(254deg, rgb(81, 149, 150) 0%, rgb(139, 121, 82) 100%);
    --lvl:-70%;
}
.css {
    background: linear-gradient(90deg, rgb(95, 202, 188) 0%, rgba(136,136,186,1) 30%, rgb(132, 139, 101) 100%);
    --lvl:-50%;
}
.js {
    background: linear-gradient(90deg, rgba(134,128,248,1) 0%, rgb(116, 75, 75) 30%, rgb(137, 81, 145) 100%);
    --lvl:-70%;
}
.react {
    background: linear-gradient(90deg, rgb(206, 194, 154) 0%, rgb(25, 112, 79) 30%, rgba(0,212,255,1) 100%);
    --lvl:-50%;
}
.bootstrap {
    background: linear-gradient(90deg, rgb(108, 84, 136) 0%, rgb(144, 156, 124) 30%, rgba(0,212,255,1) 100%);
    --lvl:-70%;
}
.arduino {
    background: linear-gradient(90deg, rgb(78, 99, 3) 0%, rgb(95, 172, 172) 30%, rgb(190, 118, 175) 100%);
    --lvl:-50%;
}
.circle::before {
    content: "";
    height: 100%;
    width: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}
.circle::after {
    content: "";
    position: absolute;
    bottom: -50%; /* Center sauare */
    left: -50%; /* Center sauare */
    height: 200%;
    width: 200%;
    background-color: #f8f8f8 ;
    border-radius: 35%; /* Smooth edges to appear like liquid */
    animation: spin 5s ease-in-out both; /* Set to forwards to freeze on last frame */
  }
  
  @keyframes spin {
    0% {
      transform: translateY(0) rotate(0deg);
    }
    100% {
      transform: translateY(var(--lvl)) rotate(var(--rot));
    }
  }
  
.circle h1 {
    color: black;
    z-index: 1;
    align-items: center;
    position: absolute;
}
.col-md-3,.col-sm-6,.col-xs-12 {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.percentage {
    height: 1vh;
    position: absolute;
    right: 35px;
    top: 130px;

}
.counter,.percentage {
    color: rgb(35, 34, 36);
    font-size: 1.5vw;
}